<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>User Authentication</title>
		<link rel="stylesheet" href="styles.css" />
	</head>
	<body>
		<div class="auth-user">
		<% if (user) {%>
		<h1>Welcome Back <%= user.username.toUpperCase() %></h1>
		<a href="/log-out">LOG OUT</a>
		<% } else { %>
		</div>
		<div class="form-container">
			<h1>Please Log In</h1>
			<form class="form" action="/log-in" method="POST">
				<label for="username">Username</label>
				<input name="username" placeholder="Username" type="text" required />
				<label for="password">Password</label>
				<input
					name="password"
					placeholder="Password"
					type="password"
					required
				/>
				<button class="submit-btn">Log In</button>
				<h3>Haven't Got An Account? <a href="/sign-up">Create Account</a></h1>
			</form>
		</div>
		<%}%>
	</body>
</html>
