doctype html 
html 
    title User Auth 

    body 
        h1 sign up
        form(action ="" method="POST")
            label(for="username") Username 
            input(name="username" placehold="username" type="text" required)
            label(for="password") Password
            input(name="password" placehold="password" type="password" required)
            button Sign up 