<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Sign Up</title>
		<link rel="stylesheet" href="/styles.css"
	</head>
	<body>
		<div class="form-container">

			<h1>Sign Up</h1>
			<form class="form" action="" method="POST">
				<label for="username">Username</label>
				<input name="username" placeholder="Username" type="text" required />
				<% if (error) {%>
					<span class="error-message"> <%= error.message %><e</span>
				<%}%>
				<label for="password">Password</label>
				<input
					name="password"
					placeholder="Password"
					type="password"
					required
				/>
				<button>Sign Up</button>
				<h3>Already Got An Account? <a href="/">Login</a></h1>
			</form>
		</div>
	</body>
</html>
