.form-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	background: white;
	border-radius: 10px;
	padding: 25px;
}
.form-container h1 {
	text-align: center;
	padding: 0 0 20px 0;
	border-bottom: 1px solid silver;
}
body {
	padding: 0;
	margin: 0;
	font-family: montserrat;
	background-color: blue;
	overflow: hidden;
	height: 100vh;
}

.submit-btn {
	border-radius: 10px;
	background: none;
	margin: 25px;
}

.form {
	margin: 5px;
	padding: 5px;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	margin: 25px;
}

.submit-btn:hover {
	background-color: aqua;
	transition: 0.4s;
	opacity: 0.6;
}

.auth-user {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	background: white;
	border-radius: 10px;
	padding: 25px;
}
